@import "resets";

@mixin font-size($size: 1.6, $line: $size * 1.5){
  font-size:   ($size * 10) + px;
  line-height: ($line * 10) + px;
  font-size:   $size + rem;
  line-height: $line + rem;
}

@mixin font-smooth{
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}


@mixin align($direction: both){
  position: absolute;
  transform-style: preserve-3d;

  @if index("horizontal" "h", $direction){
    left: 50%;
    transform: translateX(-50%);
  }
  @else if index("vertical" "v", $direction){
    top: 50%;
    transform: translateY(-50%);
  }
  @else{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// clearfix
@mixin cf(){
  *zoom: 1;

  &:before,
  &:after{
    content: '';
    display: table;
  }
  &:after{
    clear: both;
  }
}

// Import Google Font
@if variable-exists(font-url--google) {
  @import url($font-url--google);
}

