extends layouts/_layout-primary

block content
  h1 El framework que usa Alf
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem animi, voluptates saepe quod laboriosam dolorem? Inventore dolorem odio, accusamus sapiente quo nostrum hic! Facilis minima assumenda excepturi, sunt possimus ducimus.
