extends layouts/_layout-primary

block content
  h1 El framework que usa Alf
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem animi, voluptates saepe quod laboriosam dolorem? Inventore dolorem odio, accusamus sapiente quo nostrum hic! Facilis minima assumenda excepturi, sunt possimus ducimus.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, delectus laboriosam, minima deleniti ut porro odio harum fugiat ipsum autem corrupti nostrum est eius commodi reprehenderit nobis quidem quam possimus.
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eligendi earum consectetur commodi minus, recusandae animi, repellendus facere consequuntur saepe excepturi tempora. Cumque, iusto natus laboriosam dolorum ut, ab libero?
  h2 asdas
