extends layouts/_layout-primary

block content
  .container
    .row
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, soluta nisi deleniti molestias commodi dolorum possimus. Quod accusantium, explicabo enim possimus iusto eum, temporibus expedita magnam quidem ullam eveniet cum.
