extends layouts/_layout-primary

block content
  h1 Hola
  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae debitis, rerum nam qui placeat facere omnis ipsum inventore quisquam dolorum, provident ipsam ullam deserunt cum, aut distinctio sequi dicta. Porro!
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint harum cum ratione sit optio soluta vitae eligendi ut nulla nesciunt laborum ullam totam illo, hic, voluptas, quidem obcaecati provident autem!
  h1 soy un h1
  h2 soy un h2
  h3 soy un h3
  quote saracatunga
  blockquote saracatunga catunga
  img(src="img/favi.png", alt="")
